# macOS
.DS_Store

# Xcode
/DerivedData/
/build/

# Ignore Xcode user data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad
*.xcuserstate

# Pods
/Pods/
/Podfile.lock

# Keep specific Podfile
!/Pods/Podfile
!Podfile