
 macOS
.DS_Store

# Xcode
/DerivedData/
/build/


# Ignore Xcode user data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Pods
/Pods/
/Podfile.lock
/xcuserdata/
*.xcuserdatad
*.xcuserstate
!/Pods/Podfile
!Podfile
